@model VjetEcommerce.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJS{
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS6lGj7CsMDE5O9bMEf3I3anmfn34OBlA&callback=initMap"></script>
        <script src="~/Assets/client/js/controllers/contact.js"></script>*@
}
<style>
    #map {
        height: 100%;
    }
</style>
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<input type="hidden" id="hidAddress" value="@Model.ContactDetail.Name<br />Điện thoại:@Model.ContactDetail.Phone <br>Địa chỉ: @Model.ContactDetail.Address" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />
<input type="hidden" id="hidName" value="@Model.ContactDetail.Name" />
<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <h3>Thông tin liên hệ</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.420594896577!2d106.78291401446842!3d10.855580060696848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752713f4affcb5%3A0xebcf061d8b5e444b!2zSFVURUNIIC0gVGjhu6cgxJDhu6ljIENhbXB1cw!5e0!3m2!1svi!2s!4v1679896889166!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <address class="address">
                <p>@Model.ContactDetail.Address</p>
                <dl>
                    <dt> </dt>
                    <dd>Điện thoại:<span> @Model.ContactDetail.Phone</span></dd>
                    <dd>E-mail:&nbsp; <a href="mailto:@(Model.ContactDetail.Email)">@(Model.ContactDetail.Email)</a></dd>
                </dl>
            </address>
            <div class="clearfix"></div>
            <div id="map"></div>
        </div>
    </div>

    <div class="reservation_top">
        <div class="contact_right">
            <h3>Liên hệ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn! </strong> gửi phản hồi thành công.
                            <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                    }
                    @Html.ValidationSummary(false, "", new { @class = "error" });
                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox" });
                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox" });
                    @Html.TextAreaFor(model => model.Message);


                    MvcCaptcha contactCaptcha = new MvcCaptcha("contactCaptcha");
                    @Html.Captcha(contactCaptcha)
                    @Html.TextBox("CaptchaCode")

                    <input type="submit" value="Gửi đi">
                    <div class="clearfix"> </div>
                }
            </div>
        </div>
    </div>
</div>